* {
  /* text-align: center; */
   margin: 0;
  /* background-color: #F3F2EF; */
}

.app {
  background-color: #F3F2EF;
}

.app_navbar{
    display: flex;
    justify-content: space-between;
    padding: 23px;
    border-bottom: 1px solid lightgray;
    background-color: #aeddec
}
