* {
  /* text-align: center; */
   margin: 0;
   padding: 1px;
  /* background-color: #F3F2EF; */
}

.app {
  background-color: #F3F2EF;
}

.app_navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    background-color: #aeddec;
    font-family: 'Supermercado One', cursive;
    font-size: 22px;
}
